<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PrimoProgettoBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Schede
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Abilita" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Abilità
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Perk" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Perks
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Keywords" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Keywords
            </NavLink>
        </div>
    </nav>
    @if (giocatore.IsAdmin)
    {
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Sessioni" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Sessioni
                </NavLink>
            </div>
        </nav>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Giocatori" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Giocatori
                </NavLink>
            </div>
        </nav>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/CategorieKeywords" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Categorie keyword
                </NavLink>
            </div>
        </nav>
    }
</div>

@code{
    [CascadingParameter] public Giocatore giocatore { get; set; } = new Giocatore(); 
}

